body {
    font-family: Garamond, serif;
    background: linear-gradient(#9C1E52, #9e4c6e, #c9538a);
    color: rgb(0, 0, 0);
    margin: 0;
  }

header, #sous-titre{
    color: rgb(238, 11, 106);
    background-color: #9C1E52;
    text-shadow: 5px 5px 5px rgb(245, 203, 210); /*Ombre texte*/
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin: auto;
    justify-content: space-between;
  }

#sous-titre{
  font-size:30px;
}

/*Encandrement en-tête*/
fieldset{  
  border: 5px solid #cc0289;
  border-radius: 10px;
}

h1, footer {
    font-size: 5rem;
    text-align: center;
    width: 90%;
    margin: auto;
  }

/*Logo Sheffield*/
#logo {
  float: left;
  border-radius: 10px;
  }

/*Affiche 2025*/
#affiche {
  float: right;
  border-radius: 10px;
  }

#image {
    display: block;
    margin: auto;
    border: 2px solid #ff00aa;
    width: 80%;
    max-width: 100%;
    border-radius: 10px;
  }

/* Legend pict */
figcaption {
    font-family: Garamond, serif;
    font-size: 18px;
    text-align: center;
    text-shadow: 1px 1px 1px whitesmoke;
  }
  
#img-div {
    border-bottom: 2px solid #da70b6;
    margin: 0 20px 25px 20px;
    padding: 25px 0 25px 0;
  }

.desc{
    font-family: Garamond, serif;
    text-decoration: underline;
    font-size: 25px;
  }

/*Texte histoire */
#tribute-info {
    font-size: 20px;
    color:rgb(202, 125, 157);
    text-shadow: 1px 1px 1px rgb(0, 0, 0); /*Ombre texte*/
  }

/*Lien Athlète */
#tribute-link{
  font-size:35px;
  color: rgb(219, 33, 111);
  text-shadow: 1px 1px 1px rgb(0, 0, 0); /*Ombre texte*/
  text-align: center;
  display: block;
}

li {
    justify-content: space-between;
    font-size: 18px;
  }

a {
    text-decoration: none;
    color: rgb(219, 33, 111);
  }

/*Subrillance Passage Souris*/
a:hover {                 
    color: rgb(226, 134, 172); 
  }
  
